@model IEnumerable<CRMP.Domain.Entities.UserProfil>

@{
    ViewBag.Title = "IndexBack";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h2>IndexBack</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.internet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.internet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfilId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfilId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfilId })
        </td>
    </tr>
}

</table>
