@model IEnumerable<CRMP.Domain.Entities.Commande>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h3> The number of confirmed orders: @Html.Display("cmdd")</h3>


<table class="table table-striped table-bordered" style="width:200%">
    <tr align="center">
        <th>
            @Html.DisplayNameFor(model => model.q)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.etat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>
                @Html.DisplayFor(modelItem => item.q)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.prodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.etat)
            </td>
            <td>

                <a href="@Url.Action("Details", "Commande", new { id = item.CommandeId })" class="fa fa-eye" style="font-size:20px"></a> <br />

                <a href="@Url.Action("Confirmer", "Commande", new { id = item.CommandeId })" class="fa fa-check-square-o" style="font-size:20px"></a>

            </td>

        </tr>
    }

</table>
<p align="left">
    <a href="@Url.Action("Pdf", "Commande")" class="fa fa-file-pdf-o" style="font-size:34px" align="left"></a>

</p>

